#heart-drop {
    position: relative;
    top: 80%;
    left: 82%;
}

#road-to-nw {
    position: relative;
    top: 58%;
    left: 91%;
}

#shapeshifter {
    position: relative;
    top: 58%;
    left: 90.5%;
}

