#heart-drop {
    position: absolute;
    top: 80%;
    left: 82%;
}

#road-to-nw {
    position: absolute;
    top: 60%;
    left: 91%;
}

#shapeshifter {
    position: absolute;
    top: 61.5%;
    left: 90.5%;
}

#solution {
    position: absolute;
    top: 64%;
    left: 90.5%;
}

#godfather {
    position: absolute;
    top: 40%;
    left: 22%;
}

#peel-it {
    position: absolute;
    top: 60%;
    left: 96%;
}

#beef-it {
    position: absolute;
    top: 60%;
    left: 94%;
}

#snake-eyes {
    position: absolute;
    top: 91%;
    left: 82%;
}

