:root {
    --prob-name: black;
    --easy: rgb(0, 255, 0);
    --intermediate: orange;
    --hard: red;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  
}

#search-form {
    width: 40%;
    margin-left: 15%;
}

#map-list-container {
    width: 100%;
    height: 100%;
    display: flex;
}

#map-container {
    width: 85%;
    position: relative;
}

#map {
    width: 100%;
    height: 100%;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.problem {
    width: 15px;
    height: 15px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    border: none;
}

#problem-list {
    width: 15%;
    border-left: 5px solid #212529;
    overflow: scroll;
    display: block;
    flex-direction: column;
}

.problem-card {
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 4px solid #212529;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: var(--prob-name);
}

.problem-card:hover {
    background-color: rgb(200, 200, 200);
}

.problem-text {
    margin: 0;
}

.problem-invis {
    display: none;
}


.easy {
    color: var(--easy)
}

.intermediate {
    color: var(--intermediate);
}

.hard {
    color: var(--hard);
}

.easy-dot {
    background-color: var(--easy);
    transition: .5s;
}

.easy-dot:hover {
    width: 20px;
    height: 20px;
}

.intermediate-dot {
    background-color: var(--intermediate);
    transition: .2s;    
}

.intermediate-dot:hover {
    width: 20px;
    height: 20px;
}


.hard-dot {
    background-color: var(--hard);
    transition: .5s;
}

.hard-dot:hover {
    width: 20px;
    height: 20px;
}